body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #4a1c2d;
    color: #f0e7e4;

    font-family: Arial, sans-serif;
            background-image: url('background.jpg'); /* Substitua 'background.jpg' pela imagem de fundo desejada */
            background-size: cover;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color: #fff;
        }
        .contact-container {
            background-color: rgba(0, 0, 0, 0.7);
            padding: 20px;
            border-radius: 10px;
            width: 400px;
            text-align: center;
        }
        .contact-container h1 {
            font-size: 2em;
            margin-bottom: 10px;
        }
        .contact-container p {
            margin: 10px 0;
        }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #3b1623;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #f0e7e4;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ff8c69;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.content {
    max-width: 50%;
}

.content h1 {
    font-size: 3em;
    margin: 0;
}

.content p {
    font-size: 1.2em;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ff8c69;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff7043;
}

.image {
    max-width: 45%;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.sobre-nos {
    padding: 20px;
}

.sobre-nos h2 {
    font-size: 2.5em;
    margin: 0 0 10px 0;
}

.sobre-nos p {
    font-size: 1.2em;
    margin: 10px 0 20px 0;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: #3b1623;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 30%;
}

.card h3 {
    margin: 0 0 10px 0;
    font-size: 1.
}

footer{
    align-items: center;
    background-color: #1d0a11;
}